#calculator {
    -fx-background-color:#000;
}

#calculator .grey, #calculator .orange, #calculator .white {
    -fx-background-insets: 1,1,1,1;
    -fx-background-radius: 0,0,0,0;
}
.grey:hover, .orange:hover, .white:hover { fx-background-insets:2,2,2,2; }

#calculator .grey {
    -fx-background-color:#888;
}

.orange {
    -fx-background-color:orange;
    -fx-text-fill:#fff;
}

#calculator .white {
    -fx-background-color:#fff;
}

#calculator .gridpane {
    -fx-background-color:#000;
}

#calculator .output {
    -fx-text-fill:#fff;
    -fx-padding:0 20px;
    -fx-background-color:#000;
    -fx-highlight-fill: orange;
}

Button:hover {
    -fx-effect: innershadow( three-pass-box , rgba(100,100,100,0.7) , 20, 0.0 , 0 , 2 );
}

Button:pressed {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.85) , 20, 0.0 , 0 , 2 );
}

--------------------------------------------------------------------------------------------


#bevel-grey {
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#glass-grey {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
